{% extends 'base.html' %}
{% block title %}
About Us
{% endblock title %}
{% block about %}
menu-active
{% endblock about %}

{% block body %}
<h2 class="text-center text-danger">About Us</h2>
<p align=justify>INTRODUCTION<br>
    1.1 OBJECTIVES:<br>
     The main objective of the project is to design and develop a user friendly-system<br>
     Easy to use and an efficient computerized system.<br>
     To develop an accurate and flexible system, it will eliminate data redundancy.<br>
     To study the functioning of Students management System.<br>
     To make a software fast in processing, with good user interface.<br>
     To make software with good user interface so that user can change it and it should be 
    used for a long time without error and maintenance.<br>
     To provide synchronized and centralized farmer and seller database.<br>
     Computerization can be helpful as a means of saving time and money.<br>
     To provide better Graphical User Interface (GUI).<br>
     Less chances of information leakage.<br>
     Provides Security to the data by using login and password method.<br>
     To provide immediate storage and retrieval of data and information.<br>
     Improving arrangements for students coordination.<br>
     Reducing paperwork.<br>

    1.2 LIMITATIONS:<br>
     Time consumption in data entry as the records are to be manually maintained faculties
    a lot of time.<br>
     Lot of paper work is involved as the records are maintained in the files and registers.<br>
     Storage Requires as files and registers are used the storage space requirement is 
    increased.<br>
     Less Reliable use of papers for storing valuable data information is not at all reliable.<br>
     Aadhar linkage with the official aadhar database has not been done.<br>
    

    2. DATABASE DESIGN<br>
    2.1 SOFTWARE REQUIREMENTS SPECIFICATION<br>
    2.1.2 SOFTWARE REQUIREMENTS: <br>
    Frontend- HTML, CSS, Java Script, Bootstrap<br> 
    Backend-Python flask (Python 3.7) , SQLAlchemy,<br>
     Operating System: Windows 10<br>
     Google Chrome/Internet Explorer<br>
     XAMPP (Version-3.7)<br>
     Python main editor (user interface): PyCharm Community<br>
     workspace editor: Sublime text 3<br>
</p>
{% endblock body %}